/* Reset basic styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffa500;
}

.nav-links .active {
    color: #ffa500;
}

.about-hero {
    background: url('download\ \(2\).jpeg') no-repeat center center/cover;
    color: #6d6868;
    padding: 100px 20px;
    text-align: center;
}

.about-hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.mission {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.mission-content {
    max-width: 800px;
    margin: 0 auto;
}

.mission h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 18px;
    line-height: 1.8;
}

.team {
    padding: 50px 20px;
    text-align: center;
}

.team h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.team-members {
    display: flex;
    justify-content: space-around;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 18px;
    color: #777;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
